<h1><%= heroes["team"]["name"]%></h1><br/>

  <h2>Team Motto: <%= heroes["team"]["motto"]%><br/>
  
  <h2>Hero Name: <%= heroes["team"]["heroes"][]["name"]%></h2>
  <p>Hero Power: <%= heroes["team"]["heroes"][]["power"]%>></p>
</h2>
<br/>

<h1>Ship Information </h1>
   <h2> <% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
    <% end %>
  </h2>
