<h1><%= @heroes["team"]["name"]%></h1>

  <h2>Team Motto: <%= @heroes["team"]["motto"]%><br/><br/>
  
  <%i = 0 %>
  <h2> <% @heroes.each do |hero| %>
  <%binding.pry%>
  <h2>Hero Name: <%= @heroes["team"]["heroes"][i]["name"]%></h2>
  <p>Hero Power: <%= @heroes["team"]["heroes"][i]["power"]%></p>
  <p>Hero Biography: <%= @heroes["team"]["heroes"][i]["biography"] %></p><br/>
  
      <% end %>
</h2>
<br/>

