<h1><%= @heroes["team"]["name"]%></h1>

  <h2>Team Motto: <%= @heroes["team"]["motto"]%><br/><br/>
  
  <%i = 0 %>
  <h2> <% @heroes["team"]["heroes"].each do |hero| %>
  <%#binding.pry%>
  <h2>Hero Name: <%= @heroes[i]["name"]%></h2>
  <p>Hero Power: <%= @heroes[i]["power"]%></p>
  <p>Hero Biography: <%= @heroes[i]["biography"] %></p><br/>
      <%i += 1 %> 
      <% end %>
</h2>
<br/>

